* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    /* background: rgb(20, 58, 149); */
    
    color: #EEEEEE;
}
.nav_pag-login {
    background-color: #000000;
    height: 72px;
}

.div__img--logo {
    margin-left: 50%;
    padding-top: 30px;
}

.img__logo {
    /* position: absolute; */
    width: 62px;
    height: 62px;
    margin-left: -30px;
    margin-top: 9px;
}

.plogin_main-container {
    text-align: center;
    font-size-adjust: initial;
    background: linear-gradient(197.56deg, #5F045F 0%, #0048A3 100%);
    padding: 45% 10% 45% 10%;
    height: 100%;
}

/* .teste {
    margin-left:25%;
    margin-right: 25%;

} */

.container__div--form {
    background-color: rgba(15, 15, 15, 0.6);
    /* padding: 50px 30px 50px 10px; */
    /* margin: 20px 25% 20px 10%; */
    border-radius: 30px;
    padding: 30px 0px 30px 0px;
    /* margin: 0% 10% 0% 10%; */
    /* max-width: 388.2px; */
    /* margin-left: 50%;*/
}

.paglogin__titulo {
    padding: 0px 80px 20px 0px;
}

.div__input--info {
    margin: 10px;
    padding: 10px;
    background: #F9F9F9;
    border-radius: 30px;
    color: black;
}

.button--entrar {
    margin: 10px;
    padding: 10px 25px 10px 25px;
    background: rgba(9, 132, 88, 1);
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
}
.button--entrar:hover {
    background: rgb(006, 105, 105);
}

.div_footer--container {
    padding: 30px 40px 30px 30px;
    background-color: #BBBBBB;
}

.p_footer{
    color: black;

}

@media (min-width: 480px) {
    .plogin_main-container {
        padding: 209px 25% 209px 25%;
    }

    .container__div--form {
        padding: 30px 20px 30px 20px;
        margin: 0% -120% 0% -120%;
        /* max-width: 500px; */
    }

    .teste {
        margin-left: 25%;
        margin-right: 25%;
    
    }


}
@media (min-width: 820px) {
    .plogin_main-container {
        padding: 209px 0px 209px 0px;
    }
    .container__div--form {
        /* padding: 30px 20px 30px 20px; */
        margin: 0% 10% 0% 10%;

    }

}