<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FGFut | Sign In</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <header class="cabecalho">
        <img src="../static/img/logo_final.png" alt="logo do FutebasDS" class="img__logo">
        <a href="cadastro.html" class="cabecalho__signup">Inscreva-se</a>
    </header>

    <main class="conteudo-principal">
            <form class="login__form">
                <h1 class="login__titulo">Entrar</h1>
                <input type="email" placeholder="E-mail" class="login__input-email" id="input-login__email">
                <input  type="password" placeholder="Senha" class="login__input-password" id="input-login__password">
                <button class="login__button" id="login__button">Entrar na partida!</button>
                <a href="recovery.html" class="login__recovery">Esqueceu a senha?</a>
            </form>
    </main>

    <footer class="rodape">
        <p class="members-box">Feudo Roxo Lavanda<br>Caio F., Doan, Gustavo, Mariana e Mateus</p>
        <a href="https://github.com/FutebasDS/FutJS" aria-label="GitHub da Equipe" class="icon-github_icon" target="_blank"><i></i></a>
        <i class="icon-unb_icon"></i>
    </footer>
    <script src="static/js/login.js"></script>
</body>
</html>