* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    /* background: rgb(20, 58, 149); */
    
    color: #EEEEEE;
}
.nav_pag-login {
    background-color: #000000;
    height: 72px;
}

.div__img--logo {
    margin-left: 50%;

}

.img__logo {
    /* position: absolute; */
    width: 62px;
    height: 55px;
    margin-left: -30px;
    /* left: 10px; */
    margin-top: 9px;
}

.plogin_main-container {
    text-align: center;
    font-size-adjust: initial;
    background: linear-gradient(197.56deg, #5F045F 0%, #0048A3 100%);
    padding-top: 40px;
    padding-bottom: 60px;
    height: 340px;
    
}

.container__div--form {
    background-color: rgb(0, 0, 0, 60%);
    padding: 40px 5px 50px 0px;
    margin: 20px 35px 20px 35px;
    border-radius: 30px;
}

.paglogin__titulo {
    padding: 0px 80px 20px 0px;
}

.div__input--info {
    margin: 10px;
    padding: 10px;
    background: #F9F9F9;
    border-radius: 30px;
    color: black;
}

.button--entrar {
    margin: 10px;
    padding: 10px 25px 10px 25px;
    background: rgba(9, 132, 88, 1);
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
}
.button--entrar:hover {
    background: rgb(006, 105, 105);
}




.div_footer--container {
    padding: 30px 40px 30px 30px;
    background-color: #BBBBBB;
}

.p_footer{
    color: black;

}
